
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <div ng-app="myApp" ng-controller="myCtrl" style="margin-left:10%;margin-right:10%;margin-top:50px;width:80%" >
     
    <div class="form-group">
		  <label for="usr">Name:</label>
		  <input type="text" class="form-control" id="usr" ng-model="name">
	</div>
	<div class="form-group">
		  <label for="pwd">Password:</label>
		  <input type="password" class="form-control" id="pwd" ng-model="pwd">
	</div>
    <div class="form-group">
		  <label for="usr">Email:</label>
		  <input type="text" class="form-control" id="usr" ng-model="email">
	</div>
	<div class="form-group">
		  <label for="pwd">Alias:</label>
		  <input type="text" class="form-control" id="pwd" ng-model="alias">
	</div>

      
    <button type="button" ng-click="create_user()" class="btn btn-block btn-primary	">    
        Create User
    </button>


    <br>
    <br>

    <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th>email</th>
	        <th>Alias</th>
	      </tr>
	    </thead>
	    <tbody ng-repeat="x in users">
	    <tr>
	        <td>{{x.userName}}</td>
	        <td>{{x.eMailAddress}}</td>
	        <td>{{x.userId}}</td>
	    </tr>
	    </tbody>
    </table>



  </div>
</body>


<script>
    var app = angular.module('myApp', ['ui.bootstrap']);
    app.controller('myCtrl', function($scope, $http, $timeout, $interval, $q) {

      $scope.game_service_url = "http://navcatalogdev.agrostar.in"

      $scope.create_user = function() {
             $http(
                  {
                      url: $scope.game_service_url + '/gameservice/user',
                      method: 'POST',
                      headers : {
                        'Content-Type':'application/json' 
                      },
                      data : {
                          name : $scope.name,
                          email : $scope.email,
                          alias : $scope.alias,
                          password : $scope.pwd
                      }
                  }
          ).then(
                  function (response) {
                      //$scope.token_str = response.data.responseData['X-Authorization-Token']
                      console.log(response)
                      $scope.get_users()
                  } 
          ) 	
      }
      $scope.users = []
      $scope.get_users = function() {
             $http(
                  {
                      url: $scope.game_service_url + '/gameservice/user',
                      method: 'GET',
                      params: {
                      	token: localStorage.getItem("token")
                      }
                  }
          ).then(
                  function (response) {
                      //$scope.token_str = response.data.responseData['X-Authorization-Token']
                      console.log(response)
                      $scope.users = response.data.response
                  } 
          ) 	
      }

      $scope.get_users()


    });

</script>

</html>
